/**
*
*/
:root {
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #e0e0e0;
  --color-gray-6: #f2f2f2;
  --color-gray-7: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "EditorNew";
  src: url("../fonts/PPEditorialNew-Regular.otf");
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: rgba(30, 30, 30, 0.1176470588);
}

.btn {
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.8rem;
  width: 100%;
  color: var(--color-gray-1);
  margin-left: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--color-gray-4);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: var(--color-gray-4);
}

.btn--primary {
  background-color: var(--color-gray-1);
  color: var(--color-gray-7);
}
.btn--primary:hover {
  background-color: var(--color-gray-2);
}

.container {
  margin: 3rem auto;
  max-width: 100.6rem;
  padding-top: 0;
  background: var(--color-gray-7);
  min-height: 90vh;
  display: flex;
}
@media screen and (max-width: 62.5em) {
  .container {
    margin: 0;
    min-height: 100vh;
  }
}
@media screen and (max-width: 37.5em) {
  .container {
    flex-direction: column;
  }
}

.brand {
  background-image: url("../images/image1.svg");
  flex: 0 0 60%;
  background-size: cover;
}
.brand__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  padding: 5rem;
}

.signup {
  flex: 1;
}
.signup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 5rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  margin-bottom: auto;
  justify-self: start;
}

.heading1 {
  font-family: "EditorNew", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 5.8rem;
  color: var(--color-gray-7);
  width: 80%;
  margin-bottom: 5rem;
}

.slider {
  margin-bottom: 6rem;
  display: flex;
}
.slider__item {
  width: 4rem;
  height: 0.2rem;
  background-color: var(--color-gray-4);
  opacity: 0.3;
  margin-right: 1rem;
}
.slider__subitem {
  background-color: #fff;
  width: 70%;
  height: 100%;
  opacity: 1;
  display: block;
}

.heading2 {
  font-family: "Satoshi", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 3.2rem;
  color: var(--color-gray-1);
  margin-bottom: 2rem;
}

.google {
  padding: 1rem;
  border: 1px solid var(--color-gray-4);
  border-radius: 10rem;
  width: 18rem;
}
.google span {
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.8rem;
  color: var(--color-gray-1);
  margin-left: 0.5rem;
}

.or {
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--color-gray-3);
  margin: 3rem 0;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.form__group {
  width: 100%;
  margin-bottom: 0.5rem;
}
.form__input {
  width: 100%;
  height: 4.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray-4);
  border-style: none none solid none;
  background-color: var(--color-gray-7);
  outline: none;
}

.password {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
.password img {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.term {
  width: 100%;
  color: var(--color-gray-3);
  font-size: 1.4rem;
}
@media screen and (max-width: 37.5em) {
  .term {
    margin-top: 4rem;
  }
}
.term__text {
  display: flex;
  justify-content: space-evenly;
  font-size: inherit;
}
@media screen and (max-width: 37.5em) {
  .term__text {
    justify-content: center;
  }
}
.term__link {
  text-decoration: none;
  color: var(--color-gray-3);
}
@media screen and (max-width: 37.5em) {
  .term__link {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.signin__text {
  text-decoration: underline;
  font-size: 1.4rem;
  color: var(--color-gray-2);
  font-weight: 500;
}
.signin__link {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
