/**
*
*/


:root {
    --color-gray-1: #333333;
    --color-gray-2: #4f4f4f;
    --color-gray-3: #828282;
    --color-gray-4: #bdbdbd;
    --color-gray-5: #e0e0e0;
    --color-gray-6: #f2f2f2;
    --color-gray-7: #f8f8f8;
}


$bp-largest: 62.5em; // 1000px
$bp-large: 56.25em; // 900px
$bp-medium: 37.5em; // 600px
$bp-small: 31.25em; // 500px


* {
    padding: 0;
    margin: 0;
  }
  *,
  *:after,
  *::before {
    box-sizing: inherit;
  }

  @font-face {
    font-family: 'EditorNew';
    src: url('../fonts/PPEditorialNew-Regular.otf');
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px; 10px we want // 16px default browser phone = 62.5%
    font-family: 'Satoshi', sans-serif;
}

body {
  background-color: #1e1e1e1e;
}

.btn {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.8rem;
    width: 100%;
    color: var(--color-gray-1);
    margin-left: .5rem;
    padding: 1rem;
    border: 1px solid var(--color-gray-4);
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
    &:hover {
        background-color: var(--color-gray-4);
    }
}

.btn--primary {
    background-color: var(--color-gray-1);
    color: var(--color-gray-7);
    &:hover {
        background-color: var(--color-gray-2);
    }
}